@font-face {
    font-family: 'ClashDisplay';
    src: local('ClashDisplay Regular'), local('ClashDisplayRegular'),
        url('fonte/ClashDisplayMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ClashDisplay';
    src: local('ClashDisplay Bold'), local('ClashDisplayBold'),
        url('fonte/ClashDisplayBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ClashDisplay';
    src: local('ClashDisplay Medium'), local('ClashDisplayMedium'),
        url('fonte/ClashDisplayMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BricolageGrotesque';
    src: local('BricolageGrotesque'),
        url('fonte/BricolageGrotesque.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}