@font-face {
    font-family: 'Outfit';
    src: local('Outfit Regular'), local('OutfitRegular'),
        url('fonte/OutfitRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Outfit';
    src: local('Outfit Bold'), local('OutfitBold'),
        url('fonte/OutfitBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BricolageGrotesque';
    src: local('BricolageGrotesque'),
        url('fonte/BricolageGrotesque.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}